In [1]:
!python --version

Python 3.9.5

In [2]:
import os
os.getcwd()

'C:\\Users\\User-Pc\\BerTopic'

In [10]:
!pip install -U sentence-transformers==2.1.0
!pip install konlpy
!pip install umap
!pip install -U scikit-learn

Requirement already satisfied: sentence-transformers==2.1.0 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (2.1.0)
Requirement already satisfied: huggingface-hub in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sentence-transformers==2.1.0) (0.0.8)
Requirement already satisfied: nltk in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sentence-transformers==2.1.0) (3.6.7)
Requirement already satisfied: scipy in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sentence-transformers==2.1.0) (1.5.3)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sentence-transformers==2.1.0) (4.6.1)
Requirement already satisfied: tqdm in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sentence-transformers==2.1.0) (4.64.0)
Requirement already satisfied: sentencepiece in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sentence-transformers==2.1.0) (0.1.97)
Requirement already satisfied: torch>=1.6.0 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sentence-transformers==2.1.0) (1.10.2)
Requirement already satisfied: numpy in c:\users\user-pc\appdata\roaming\python\python36\site-packages (from sentence-transformers==2.1.0) (1.19.5)
Requirement already satisfied: torchvision in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sentence-transformers==2.1.0) (0.11.3)
Requirement already satisfied: tokenizers>=0.10.3 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sentence-transformers==2.1.0) (0.10.3)
Requirement already satisfied: scikit-learn in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sentence-transformers==2.1.0) (0.24.2)
Requirement already satisfied: dataclasses in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from torch>=1.6.0->sentence-transformers==2.1.0) (0.8)
Requirement already satisfied: typing-extensions in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from torch>=1.6.0->sentence-transformers==2.1.0) (4.1.1)
Requirement already satisfied: sacremoses in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (0.0.53)
Requirement already satisfied: regex!=2019.12.17 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (2021.9.30)
Requirement already satisfied: requests in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (2.28.1)
Requirement already satisfied: importlib-metadata in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (4.8.1)
Requirement already satisfied: packaging in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (21.3)
Requirement already satisfied: filelock in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (3.4.1)
Requirement already satisfied: colorama in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from tqdm->sentence-transformers==2.1.0) (0.4.5)
Requirement already satisfied: importlib-resources in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from tqdm->sentence-transformers==2.1.0) (5.4.0)
Requirement already satisfied: click in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from nltk->sentence-transformers==2.1.0) (8.0.1)
Requirement already satisfied: joblib in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from nltk->sentence-transformers==2.1.0) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from scikit-learn->sentence-transformers==2.1.0) (3.1.0)
Requirement already satisfied: pillow!=8.3.0,>=5.3.0 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from torchvision->sentence-transformers==2.1.0) (8.4.0)
Requirement already satisfied: zipp>=0.5 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from importlib-metadata->transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (3.6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from packaging->transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (3.0.9)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (1.26.11)
Requirement already satisfied: six in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sacremoses->transformers<5.0.0,>=4.6.0->sentence-transformers==2.1.0) (1.16.0)
Requirement already satisfied: konlpy in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (0.6.0)
Requirement already satisfied: numpy>=1.6 in c:\users\user-pc\appdata\roaming\python\python36\site-packages (from konlpy) (1.19.5)
Requirement already satisfied: JPype1>=0.7.0 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from konlpy) (1.3.0)
Requirement already satisfied: lxml>=4.1.0 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from konlpy) (4.9.1)
Requirement already satisfied: typing-extensions in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from JPype1>=0.7.0->konlpy) (4.1.1)
Collecting umap
  Using cached umap-0.1.1.tar.gz (3.2 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: umap
  Building wheel for umap (setup.py): started
  Building wheel for umap (setup.py): finished with status 'done'
  Created wheel for umap: filename=umap-0.1.1-py3-none-any.whl size=3565 sha256=7dc7340c118d1dda8e10b6cec9b40a58a8cac15335f0eb6c20c1f3de5a0819c8
  Stored in directory: c:\users\user-pc\appdata\local\pip\cache\wheels\df\22\c9\3de2d976b162d3f90c60ed7e415f344d0630518a501093e7b1
Successfully built umap
Installing collected packages: umap
Successfully installed umap-0.1.1
Collecting sklearn
  Using cached sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: scikit-learn in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from scikit-learn->sklearn) (1.5.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\user-pc\appdata\roaming\python\python36\site-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in c:\users\user-pc\miniconda3\envs\py36\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=ebd533245f5b4d050a21e818e28ef03cfb43d07ed8362ab9a26e4ba755afaf95
  Stored in directory: c:\users\user-pc\appdata\local\pip\cache\wheels\23\9d\42\5ec745cbbb17517000a53cecc49d6a865450d1f5cb16dc8a9c
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [3]:
import pandas as pd
path = "./data/"
file_list = os.listdir(path)
dfs = []
for i in file_list:
    df = pd.read_excel(path+i, engine = "openpyxl")
    dfs.append(df)
    print(i)

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20180101-20181231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20190101-20191231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20200101-20201231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20210101-20211231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20220101-20220810.xlsx

In [65]:
data = pd.concat(dfs)

In [3]:
''' 환율 데이터
import pandas as pd
path = 'C:/Users/User-Pc/Downloads/NEWS'
file_list = os.listdir(path)
file_list

dfs = []
for i in file_list:
    df = pd.read_excel("C:/Users/User-Pc/Downloads/NEWS/"+i, engine = "openpyxl")
    dfs.append(df)
    print(i)
    
data  = pd.concat(dfs)
'''

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20120101-20120630.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20120701-20121231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20130101-20130630.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20130701-20131231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20140101-20140630.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20140701-20141231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20150101-20150630.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20150701-20151231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20160130-20160630.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20160701-20161231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20170101-20170630.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20170701-20171231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20180101-20180630.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20180701-20181231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_2019_1.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_2019_2.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_2020.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_2021.xlsx

In [4]:
from sentence_transformers import SentenceTransformer
from datetime import datetime

import logging
import re

import numpy as np
import pandas as pd

In [5]:
from sklearn.cluster import DBSCAN
import matplotlib.pyplot as plt

In [7]:
model_path = "./kpfSBERT"
model = SentenceTransformer(model_path)

In [13]:
data

,뉴스 식별자,일자,제목,키워드,특성추출(가중치순 상위 50개)
0,2.100601e+06,20120630,대우重 출신 '황야의 7인'과 창업 20년만에 '기계강국' 독일 턱밑 추격,"대우,출신,황야,7인,창업,20년,기계강국,추격,독일,턱밑,본격적,더위,서울역,대우...","에버다임,대우중공업,펌프카,독일,일본,굴삭기,소방차,청주대,건설장비,서울역,서울,남..."
1,2.100201e+06,20120630,[뉴욕장중]EU 정상회의 합의에 급등,"합의,EU,정상,회의,급등,뉴욕,증시,29일,현지시간,지표,부진,유로존,기대감,상승...","유럽,eu,원자재,톰슨로이터,소비자,상승세,뉴욕,유로,온도프,선물가격,웨스턴,크리스..."
2,2.100201e+06,20120630,[유럽마감]EU 정상회의 합의에 급등,"합의,EU,정상,회의,급등,유럽,증시,29일,현지시간,급등,지수,영국,FTSE100...","스페인,이탈리아,유럽,유로,스위스,유로존,eu,의약품,크린타스,독일,테오도어,빌바오..."
3,2.100201e+06,20120630,"유로, EU 정상회의 합의에 올 최대 상승폭","유로,합의,EU,정상,회의,최대,상승,유로화,29일,현지시간,최대,상승,달러,유로,...","eu,유로화,정상회의,정상들,찰스,아노드,유로,논의중,기대감,노무라,이탈리아,회의날..."
4,1.100701e+06,20120630,中선전 홍콩 ‘위안화 통합’ 경제권으로,"선전,홍콩,위안화,통합,경제권,중국,광둥,개혁,개방,廣東,선전,외환시범특구,지정,위...","홍콩,중국,위안화,군영,국무원,그동안,광둥,아시아,파이낸셜타임스,덩샤오핑,워싱턴포스트"
...,...,...,...,...,...
12977,2.100201e+06,20210101,[새해증시]'코스피 3000-코스닥1000' 올해 상반기 돌파한다,"코스피,코스닥1000,상반기,돌파,증시설문,삼성전자,반도체,유망,여유자금,주식,부동...","전문가,코로나19,한국,부동산,코스닥,응답자,삼성전자,코스피,반도체,코스피지수,상반..."
12978,1.100401e+06,20210101,“주가 3000시대 온다 가계빚-코로나 변수”,"주가,시대,가계빚,코로나,변수,10인,재테크,전문가,증시,전망,동학개미,삼성전자,대...","팀장,삼성전자,전문가,pb,센터장,만큼,리서치센터장,코스피,하나은행,중국,10만,유..."
12979,1.100901e+06,20210101,"반도체 2차전지 끌고, 동학개미 밀고 코스피 3000 시동","반도체,2차,전지,동학개미,코스피,시동,보급,코로나19,백신,보급,집단면역,경제,회...","코로나19,미국,코스피,가능성,기준금리,순이익,기대감,부동산,위안화,정용택,통화정책..."
12980,2.100501e+06,20210101,2021년 국내 채권 '금리보합' 가능성 크다,"2021년,채권,금리,보합,가능성,금투협,전문가,설문,응답자,69%,예상,보합,채권...","응답자,전문가,코로나19,관계자,금융투자협회,가능성,환율상승,펀드매니저,대유행"
12981,2.100501e+06,20210101,"""올 상장사 순익 130兆"" 실적이 이끄는 황소장 온다","상장사,순익,실적,황소장,대망,신축년,코스피,3000포인트,낙관적,전망,핵심,기업,...","코스피,리서치센터장,유동성,센터장,매수세,만큼,증권사,투자자,순이익,반도체,삼성증권..."

In [12]:
corpus[0][0]

'에버다임'

In [63]:
# 데이터 전처리
data = data[['뉴스 식별자','일자','제목','키워드','특성추출(가중치순 상위 50개)']]
cluster_mode = '특성추출(가중치순 상위 50개)'
corpus = data[cluster_mode].values.tolist()

for i, cp in enumerate(corpus):
    try:
        corpus[i] = cp.split(',')
    except:
        corpus[i] = 'nan'

In [64]:
df = data[['일자']]
df['키워드'] = corpus
df['일자'] = [str(x)[0:4] for x in df['일자']]

<ipython-input-64-f8a2c0bae374>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['키워드'] = corpus
<ipython-input-64-f8a2c0bae374>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['일자'] = [str(x)[0:4] for x in df['일자']]

In [65]:
keyword_vocab = []
for i in df['키워드']:
    keyword_vocab.extend(i)
keyword_vocab = list(set(keyword_vocab))

In [66]:
from collections import Counter

In [67]:
years = ['2017','2018','2019','2020','2021']

tmp_df_list = []
for year in years:
    print(year)
    tmp = []
    for i in df[df['일자']== year]['키워드']:
        tmp.extend(i)
    tmp_df = pd.DataFrame(pd.Series(Counter(tmp)))
    tmp_df = tmp_df.reset_index()
    tmp_df = tmp_df.rename(columns = {0:'cnt','index':'keyword'})
    tmp_df_list.append(tmp_df)

2017
2018
2019
2020
2021

In [68]:
tmp_df_list[0]

           keyword   cnt
0              코스피  5730
1               뉴욕  1335
2            1144원     5
3              위안화  1381
4              상승폭   278
...            ...   ...
43192        상조서비스     1
43193           곗돈     1
43194        1092억     1
43195           매턴     1
43196  맥킨지글로벌인스티튜트     1

[43197 rows x 2 columns]

In [69]:
df = tmp_df_list[0].merge(tmp_df_list[1], on = 'keyword', how = 'outer')

In [70]:
for i in range(len(tmp_df_list)):
    if i > 1:
        df = df.merge(tmp_df_list[i], on = 'keyword', how = 'outer')

<ipython-input-70-efd5dda4b60b>:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'cnt_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(tmp_df_list[i], on = 'keyword', how = 'outer')

In [71]:
col = ['keyword'] + years

In [72]:
df.columns = col

In [73]:
df

       keyword    2017    2018    2019    2020    2021
0          코스피  5730.0  6096.0  3851.0  5412.0  4019.0
1           뉴욕  1335.0  1604.0   837.0   852.0   505.0
2        1144원     5.0     3.0     2.0     NaN     4.0
3          위안화  1381.0  2093.0  2780.0  1529.0  1029.0
4          상승폭   278.0   287.0   168.0   217.0   146.0
...        ...     ...     ...     ...     ...     ...
101926     독무대     NaN     NaN     NaN     NaN     2.0
101927   무역가중치     NaN     NaN     NaN     NaN     1.0
101928    유럽통합     NaN     NaN     NaN     NaN     1.0
101929     ems     NaN     NaN     NaN     NaN     1.0
101930     유보영     NaN     NaN     NaN     NaN     1.0

[101931 rows x 6 columns]

In [74]:
# 2022년 수치 날짜 보정

In [75]:
df['2022'] = round(df['2022']*(365/223))

KeyError: '2022'

In [76]:
df

       keyword    2017    2018    2019    2020    2021
0          코스피  5730.0  6096.0  3851.0  5412.0  4019.0
1           뉴욕  1335.0  1604.0   837.0   852.0   505.0
2        1144원     5.0     3.0     2.0     NaN     4.0
3          위안화  1381.0  2093.0  2780.0  1529.0  1029.0
4          상승폭   278.0   287.0   168.0   217.0   146.0
...        ...     ...     ...     ...     ...     ...
101926     독무대     NaN     NaN     NaN     NaN     2.0
101927   무역가중치     NaN     NaN     NaN     NaN     1.0
101928    유럽통합     NaN     NaN     NaN     NaN     1.0
101929     ems     NaN     NaN     NaN     NaN     1.0
101930     유보영     NaN     NaN     NaN     NaN     1.0

[101931 rows x 6 columns]

In [77]:
df.index = df['keyword']

In [78]:
df = df.drop('keyword', axis = 1)

In [79]:
df['tot_cnt'] = df.sum(axis = 1)

In [80]:
df = df.T

In [81]:
df['year_cnt'] = df.sum(axis = 1)

In [82]:
df = df.T

In [83]:
df

              2017      2018      2019      2020      2021    tot_cnt
keyword
코스피         5730.0    6096.0    3851.0    5412.0    4019.0    25108.0
뉴욕          1335.0    1604.0     837.0     852.0     505.0     5133.0
1144원          5.0       3.0       2.0       NaN       4.0       14.0
위안화         1381.0    2093.0    2780.0    1529.0    1029.0     8812.0
상승폭          278.0     287.0     168.0     217.0     146.0     1096.0
...            ...       ...       ...       ...       ...        ...
무역가중치          NaN       NaN       NaN       NaN       1.0        1.0
유럽통합           NaN       NaN       NaN       NaN       1.0        1.0
ems            NaN       NaN       NaN       NaN       1.0        1.0
유보영            NaN       NaN       NaN       NaN       1.0        1.0
year_cnt  470337.0  479709.0  382797.0  341247.0  226655.0  1900745.0

[101932 rows x 6 columns]

In [84]:
# 연도별 건수 보정
for year in years:
    df[year] = df[year][:-1]*10000 / df[year][-1]

In [85]:

df

,2017,2018,2019,2020,2021,tot_cnt
keyword,,,,,,
코스피,121.827541,127.077040,100.601624,158.594801,177.317950,25108.0
뉴욕,28.383903,33.436938,21.865375,24.967252,22.280559,5133.0
1144원,0.106307,0.062538,0.052247,NaN,0.176480,14.0
위안화,29.361926,43.630618,72.623349,44.806255,45.399396,8812.0
상승폭,5.910656,5.982794,4.388749,6.359030,6.441508,1096.0
...,...,...,...,...,...,...
무역가중치,NaN,NaN,NaN,NaN,0.044120,1.0
유럽통합,NaN,NaN,NaN,NaN,0.044120,1.0
ems,NaN,NaN,NaN,NaN,0.044120,1.0
유보영,NaN,NaN,NaN,NaN,0.044120,1.0
year_cnt,NaN,NaN,NaN,NaN,NaN,1900745.0

In [86]:
df =df.fillna(0)

In [87]:
df[df.index == '농협은행']

             2017      2018      2019      2020      2021  tot_cnt
keyword
농협은행     1.339465  2.355595  2.168251  2.139213  2.647195    392.0

In [242]:
df[df.index == '국민은행']

          2018   2019   2020   2021   2022  tot_cnt
keyword
국민은행     500.0  697.0  505.0  567.0  435.0   2704.0

In [250]:
df[df.index == '하나은행']

          2018   2019   2020   2021   2022  tot_cnt
keyword
하나은행     357.0  519.0  374.0  624.0  640.0   2514.0

In [243]:
df[df.index == '신한은행']

          2018   2019   2020   2021   2022  tot_cnt
keyword
신한은행     703.0  605.0  621.0  979.0  908.0   3816.0

In [247]:
df[df.index == '카카오뱅크']

          2018   2019   2020   2021   2022  tot_cnt
keyword
카카오뱅크    118.0  174.0  206.0  424.0  210.0   1132.0

In [249]:
df[df.index == '우리은행']

          2018   2019   2020   2021   2022  tot_cnt
keyword
우리은행     352.0  567.0  518.0  662.0  509.0   2608.0

In [268]:
df[df.index == '토스뱅크']

         2018      2019      2020      2021      2022  tot_cnt
keyword
토스뱅크      0.0  2.344051  0.552659  2.264752  2.190362    234.0

In [88]:
from scipy import stats

x = [1,2,3,4,5]

slopes = []
for i in list(df.values):
    y = i[:-1]
    slope, intercept, r, p, std_err = stats.linregress(x, y)
    slopes.append(slope)

In [89]:
df2 = df.copy()
df2['slope'] = slopes

In [90]:
df2.sort_values(by = 'slope',ascending = True)[0:50]

,2017,2018,2019,2020,2021,tot_cnt,slope
keyword,,,,,,,
도널드,47.242722,29.205206,41.771487,18.139354,2.161876,5890.0,-10.122754
중국,133.414977,141.627528,200.497914,117.627408,106.196642,27165.0,-7.843679
미국,228.389431,242.355261,230.775058,206.712440,207.848933,42967.0,-7.672382
한경닷컴,26.342814,25.557161,17.842355,0.849824,1.102998,3202.0,-7.518697
사드,25.386053,4.440192,1.515163,0.556781,0.308839,1491.0,-5.403784
000,12.565458,27.579220,7.183964,0.293043,0.794159,2217.0,-5.082878
목표주가,17.689444,28.809132,11.807825,3.545819,6.882707,2943.0,-4.687679
일본,47.689210,35.396459,82.393540,32.557063,25.810152,8791.0,-4.659751
환율조작국,22.643339,9.880990,16.196574,5.216163,2.470715,2393.0,-4.501007
가능성,68.100107,61.162080,62.147822,49.084681,52.282103,11376.0,-4.371341
조작국,22.026760,9.860144,16.170451,5.655727,2.470715,2377.0,-4.331651
한미,24.280463,16.676777,4.911219,14.447013,3.882553,2711.0,-4.302558
한국전력,19.985670,4.961341,4.702231,1.670344,0.617679,1429.0,-4.202698
투자의견,11.608698,20.762587,6.504753,1.113563,1.632437,1866.0,-3.960155
삼성물산,17.285478,10.610599,3.631167,4.659382,1.235358,1648.0,-3.805146
000원,11.140948,18.865604,6.348012,1.260084,1.235358,1743.0,-3.741670
유로,17.902057,17.719076,11.938443,9.084329,4.147272,2553.0,-3.614432
증권사,21.410180,29.705509,15.987586,14.124666,11.868258,3795.0,-3.466469
신한지주,15.903490,4.210886,8.516263,0.703303,0.529439,1312.0,-3.425569
선착순,18.667466,1.896983,1.645781,1.904779,1.720677,1136.0,-3.388578
신흥국,14.415196,42.463243,16.222698,15.121012,11.691778,4117.0,-3.278907
현대모비스,18.242239,7.713009,11.442096,4.307730,3.706073,1897.0,-3.247761
외환시장,55.449603,62.704681,67.450894,57.084751,42.443361,11108.0,-3.163241
정상회담,11.863834,8.255005,8.255028,0.146521,0.794159,1293.0,-3.024783
삼성생명,14.457719,3.251972,0.313482,1.201476,0.661799,904.0,-2.964234
전일,23.621361,24.035405,15.595734,18.637526,11.515299,3758.0,-2.961000
컨센서스,11.183471,19.595213,7.131717,3.164863,4.632591,1952.0,-2.953211
무역전쟁,1.764692,27.745988,25.966766,2.168517,0.088240,2484.0,-2.893038
의약품,15.308173,13.487343,6.008407,4.776599,5.691469,1889.0,-2.794415
금리인상,13.479696,10.485524,1.384546,0.117217,4.985551,1307.0,-2.735660
보고서,23.132350,23.576793,20.141224,13.860928,14.471333,3791.0,-2.703790
동종목,6.739848,13.341422,3.082574,0.000000,0.000000,1075.0,-2.682112
전거래일,15.563309,21.846578,15.909216,10.813282,7.853345,2936.0,-2.645322
시장,76.519602,81.382672,74.269130,69.509769,69.930070,14303.0,-2.505197
김동연,5.527951,13.716649,0.104494,0.000000,0.000000,922.0,-2.477255
포스코,13.288344,6.503943,2.507857,1.963387,3.308994,1175.0,-2.449926
sk,30.616345,15.446865,14.080570,11.106325,20.648122,3567.0,-2.427699
한국,86.193517,80.507141,97.179445,80.235138,74.253822,16057.0,-2.415139
바이로메드,7.802916,8.296697,1.933139,0.000000,0.000000,839.0,-2.390253
시진핑,10.970857,6.045332,11.311478,2.080604,1.455957,1343.0,-2.299453
업종별,16.009797,15.759554,9.195474,5.509206,9.662262,2268.0,-2.294542
기록,16.073581,17.594000,16.719044,11.633802,7.632746,2810.0,-2.284187
메디톡스,8.121836,8.171621,4.649984,1.641040,0.044120,1009.0,-2.268601
건설업,11.693743,8.755308,3.187068,1.904779,4.147272,1251.0,-2.194347
fta,7.441473,7.316936,1.044940,0.410260,0.397079,764.0,-2.099546
금융,10.588153,9.797606,9.378339,5.040337,2.514835,1556.0,-2.090390
뉴욕,28.383903,33.436938,21.865375,24.967252,22.280559,5133.0,-2.067638
신라젠,5.357860,10.110296,4.623861,0.058609,0.132360,919.0,-2.050269
외국환,14.117537,8.630232,3.814032,4.366339,6.044429,1510.0,-2.041011
삼성전자,58.830158,48.237577,27.847658,35.721926,54.929298,8611.0,-2.031737

In [91]:
df2.sort_values(by = 'slope',ascending = False)[0:50]

,2017,2018,2019,2020,2021,tot_cnt,slope
keyword,,,,,,,
코로나19,0.000000,0.000000,0.000000,201.203234,120.138537,9589.0,44.148031
코스피,121.827541,127.077040,100.601624,158.594801,177.317950,25108.0,14.249858
코로나바이러스,0.000000,0.000000,0.000000,69.099509,23.604156,2893.0,11.630782
코로나,0.000000,0.020846,0.000000,39.765917,34.545896,2141.0,10.883686
거래일,51.771389,60.453316,61.677599,84.718693,88.416316,12591.0,9.755523
코스닥,59.425476,80.527987,56.113292,84.220521,97.549139,13891.0,7.993986
이날,10.035358,14.884023,18.599937,35.927056,39.046127,4009.0,7.906457
테이퍼링,1.105590,0.125076,0.000000,0.000000,39.796166,960.0,7.725608
인플레이션,7.335166,8.755308,5.198578,4.893816,45.972954,2173.0,7.341408
부양책,1.509556,1.229912,3.605044,27.926985,13.103616,1518.0,4.988519
확진자,0.000000,0.000000,0.000000,23.970907,12.883016,1110.0,4.973694
투자자,34.018161,34.520928,39.237507,52.864934,49.546668,7685.0,4.940102
포인트,10.630675,13.716649,8.620757,20.454392,30.883943,2886.0,4.724428
마감,36.271865,34.854464,34.509152,47.179902,53.561580,7523.0,4.690487
감염증,0.000000,0.000000,0.000000,32.088194,6.662108,1246.0,4.541241
반도체,28.256335,32.874097,36.128810,25.641251,54.046899,6389.0,4.434828
기준,6.633541,8.400926,12.696024,18.197962,22.765878,2338.0,4.206171
외환,49.687777,59.390172,63.140516,58.549965,70.988948,11210.0,4.176214
삼성,7.717870,6.816633,4.049144,16.820661,22.677638,1933.0,3.992356
1조,13.904923,14.675564,14.420176,21.597259,30.310384,3334.0,3.973262
외국인,119.021042,117.883967,89.028911,110.242727,141.933776,21640.0,3.818423
위안화,29.361926,43.630618,72.623349,44.806255,45.399396,8812.0,3.325058
딜링,3.210464,7.400320,7.366829,22.066128,12.265337,1819.0,3.277555
하나은행,10.077880,13.987647,17.528873,32.351933,17.162648,3309.0,3.253382
거래,26.087678,28.934208,27.272941,34.901406,38.869648,5731.0,3.153114
미래에셋증권,0.127568,0.125076,0.000000,0.000000,15.397851,361.0,3.041549
사진,4.507406,4.982187,5.590430,7.853549,17.647967,1333.0,2.915248
원자재,11.651220,7.462858,4.440996,5.538510,26.516071,1866.0,2.780535
전장,0.425227,0.375227,3.213191,8.468939,9.838742,673.0,2.692074
공급망,0.085045,0.166768,0.705335,2.402952,12.265337,399.0,2.659677
소비자,11.502391,11.861358,13.714841,10.285805,25.501313,2564.0,2.642229
연준,24.556860,20.783433,21.081670,20.161349,37.943129,4507.0,2.615045
산하,0.170091,0.270998,4.623861,6.505552,10.103461,649.0,2.610129
유동성,2.678930,3.335355,3.396056,13.157625,10.809380,1110.0,2.608317
파월,1.169374,7.462858,8.594634,4.630077,15.618451,1254.0,2.606537
교역,0.255136,0.229306,4.780602,6.359030,10.059341,651.0,2.573813
바이든,0.000000,0.000000,0.104494,11.340759,7.059187,551.0,2.545913
파운드화,1.913522,2.626592,9.953056,8.410330,11.647658,1148.0,2.525201
게티이미지뱅크,0.276398,0.020846,2.089881,3.428602,11.118219,463.0,2.509140
연구원,60.382237,71.022224,73.511548,67.604990,74.606781,13059.0,2.503186
온라인,5.357860,5.023879,5.721048,13.216233,13.765414,1475.0,2.500746
중구,3.890827,10.131142,12.434789,19.487351,11.250579,2065.0,2.407571
100엔,3.465600,4.085810,7.262335,8.175896,13.456575,1221.0,2.407204
팬데믹,0.000000,0.000000,0.000000,12.044062,5.912069,545.0,2.386820
센터,0.701625,0.479457,4.806725,6.065987,9.706382,667.0,2.359604
주식,1.445772,2.022059,1.802522,3.457906,12.397697,633.0,2.333970
서울,138.049951,145.004576,119.619537,158.448279,142.992654,26676.0,2.332911
금융시장,11.502391,10.777367,20.350212,26.256641,15.221372,3078.0,2.291724
홍남기,0.042523,0.458611,12.042937,12.131975,5.603230,1026.0,2.279478
서상영,3.975873,4.502730,7.131717,8.937808,13.103616,1278.0,2.269056

In [92]:
# BERT 임베딩
corpus_embeddings = model.encode(corpus, show_progress_bar=True)

NameError: name 'model' is not defined

In [302]:
one

      2018
지점장    313
영업부장    59
영업부     69
센터장    351
조사역     20
...    ...
강명규      1
이진석      1
배현재      1
노진용      1
권이중      1

[36196 rows x 1 columns]

In [171]:
len(corpus_embeddings)

68885

In [172]:
clustering = DBSCAN(eps=0.4, min_samples=10,metric = 'cosine').fit(corpus_embeddings)

In [173]:
set(clustering.labels_)

{-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [175]:
df['Topic'] = clustering.labels_

In [184]:
df[df['Topic'] == 7]

,뉴스 식별자,일자,제목,Topic
13181,1.100701e+06,20200403,“관객 90%가 사라졌다” 영화업계 “심장 멈춰 당장 심폐소생해야”,7
13188,2.100101e+06,20200403,"영화계 코로나19 기근에 영화인연대 측 “정부 지원, 골든타임 놓친다”",7
13200,1.101101e+06,20200402,영화계 “영화관련업 특별지원업종 즉각 지정하라”,7
13210,2.100101e+06,20200402,"영화계 “코로나19로 영화산업 붕괴 초읽기, 정부 실질적인 지원 필요”(전문)",7
13219,8.100401e+06,20200402,"코로나19영화인연대 측 ""정부 대책, 뜬구름...특별지원업종 지정 원해""",7
13556,8.100401e+06,20200325,"""영화산업 붕괴 위기, 정책 실행할 때""...韓영화계, 정부 지원 촉구 (종합)",7
13561,2.100801e+06,20200325,"붕괴 직면한 영화계, 수수방관 문체부 영진위 비판",7
13567,1.100201e+06,20200325,"“코로나19→산업 붕괴 대량 실업” 영화계, 긴급지원 요청",7
13570,1.100801e+06,20200325,"코로나로 붕괴 위기 영화계, ""정부 지원 절실하다""",7
13571,2.100701e+06,20200325,“영화산업도 고사위기” 정부 지원 ‘SOS’,7
13575,1.100611e+06,20200325,"“영화산업 붕괴 위기” 영화인연대, 정부 긴급지원 요청 성명(전문)",7

In [136]:
df[df['Topic'] == 11]

            뉴스 식별자        일자                                        제목  Topic
3546  2.100101e+06  20191002    LG이노텍, 협력사대표 임원 초청 `2019 동반성장 아카데미` 개최     11
3567  2.100201e+06  20191002       "협력사에 실질적 지원" LG이노텍, '동반성장 아카데미' 개최     11
3571  7.101201e+06  20191002           LG이노텍, 협력사 상생 위한 `동반성장 아카데미` 개최     11
8657  2.100851e+06  20200720  ​정철동 LG이노텍 대표 "사회적 책임 성실 이행 사랑받는 기업 되겠다"     11
8265  1.100701e+06  20220225            LG이노텍, 올해부터 협력사에 ESG 컨설팅 지원하기로     11
8275  2.100601e+06  20220224                정철동 LG이노텍 사장, 협력사에 ESG 컨설팅     11
8296  2.100101e+06  20220224                    LG이노텍, 협력사 ESG 컨설팅 나선다     11
8299  7.101201e+06  20220224        LG이노텍, 협력사와 동반성장 강화 "실질적인 상생활동 실행"     11
8304  2.100311e+06  20220224                LG이노텍, ‘2022 동반성장 상생데이’ 개최     11
8305  2.100801e+06  20220224       LG이노텍, 협력사와 동반성장 상생 100여개 업체와 협약 체결     11
8316  7.100501e+06  20220224              LG이노텍, 2022 동반성장 상생데이 온라인 개최     11

In [142]:
df[df['Topic'] == 17]

             뉴스 식별자        일자                                     제목  Topic
10113  1.100401e+06  20190307                  VR체험 트럭-폐차 견적비교 앱 나온다     17
10116  7.101201e+06  20190307      이동형 VR체험 폐차 견적비교 규제 샌드박스 실증 특례 대상     17
10120  1.100201e+06  20190307                    VR 체험 트럭 폐차 중개앱 나온다     17
10124  2.100311e+06  20190306  ‘VR체험 트럭’ ‘폐차 견적앱’ 나온다 ICT 규제 샌드박스 통과     17
10127  2.100601e+06  20190306                    찾아가는 'VR 체험 트럭' 나온다     17
10128  2.100101e+06  20190306                     폐차 중개앱 VR 체험트럭 나온다     17
10129  1.100901e+06  20190306  VR 트럭 모바일 폐차 앱 나온다 블록체인 송금 서비스는 '불투명'     17
10138  2.100201e+06  20190306               'VR 체험 트럭' '폐차 중개 앱' 나온다     17
10143  2.100851e+06  20190306          "VR체험 트럭으로 폐차 중개 온라인으로 가능해진다"     17
10146  1.101001e+06  20190306               트럭 이용한 가상현실 체험 사업화 가능해졌다     17

In [169]:
df[df['Topic'] == -1]

,뉴스 식별자,일자,제목,Topic
21,2.100311e+06,20181231,"최종구-윤석헌, 신년사도 '온도차'",-1
26,2.100851e+06,20181231,"[신년사]김상조 공정거래위원장(전문)...""공정경제 구현, 경기 나쁘다고 후퇴하는 ...",-1
35,2.100601e+06,20181231,최고점 대비 85%↓ 2018년 달군 '가상화폐 10대 뉴스',-1
39,1.100301e+06,20181231,밀레니얼 세대는 '가치 투자' 선호,-1
44,2.100101e+06,20181231,[2018 Hot-Line] `고의 분식` 삼성바이오로직스 투자자 냉온탕 오가,-1
...,...,...,...,...
11612,2.100701e+06,20220101,"2021년 수출 수입액 사상 최대 12월 무역수지, 20개월만에 적자(종합)",-1
11614,2.100801e+06,20220101,"[2022 신년사] 문인 광주 북구청장 ""완전한 회복, 미래 대전환에 전력 쏟을 것""",-1
11615,2.100601e+06,20220101,"日증시, 지난해 5% 올랐지만 호랑이해는 '불안해' [정영효의 일본산업 분석]",-1
11617,2.100311e+06,20220101,[신년 기고]과학기술이 대한민국의 미래다,-1
11618,1.100801e+06,20220101,"“거품 낀 세계경제, 또다른 충격 온다” vs “美 증시 20% 이상 오른다”",-1

In [61]:
from sklearn.feature_extraction.text import CountVectorizer

def c_tf_idf(documents, m, ngram_range=(1, 1)):
    count = CountVectorizer(ngram_range=ngram_range, stop_words="english").fit(documents)
    t = count.transform(documents).toarray()
    w = t.sum(axis=1)
    tf = np.divide(t.T, w)
    sum_t = t.sum(axis=0)
    idf = np.log(np.divide(m, sum_t)).reshape(-1, 1)
    tf_idf = np.multiply(tf, idf)

    return tf_idf, count

def extract_top_n_words_per_topic(tf_idf, count, docs_per_topic, n=20):
    words = count.get_feature_names_out()
    labels = list(docs_per_topic.Topic)
    tf_idf_transposed = tf_idf.T
    indices = tf_idf_transposed.argsort()[:, -n:]
    top_n_words = {label: [(words[j], tf_idf_transposed[i][j]) for j in indices[i]][::-1] for i, label in enumerate(labels)}
    return top_n_words

def extract_topic_sizes(df):
    topic_sizes = (df.groupby(['Topic'])
                     .Doc
                     .count()
                     .reset_index()
                     .rename({"Topic": "Topic", "Doc": "Size"}, axis='columns')
                     .sort_values("Size", ascending=False))
    return topic_sizes

In [62]:
tf_idf, count = c_tf_idf(corpus, m=len(corpus))

<ipython-input-61-0f534e09bd9e>:7: RuntimeWarning: invalid value encountered in true_divide
  tf = np.divide(t.T, w)

In [66]:
top_n_words = extract_top_n_words_per_topic(tf_idf, count, corpus, n=20)

AttributeError: 'list' object has no attribute 'Topic'

In [ ]:
topic_sizes = extract_topic_sizes(rslt[category_id]); topic_sizes.head(10)

In [60]:
''' JAVA HOME 문제 해결 필요
from konlpy.tag import Kkma
 
class CustomTokenizer:
    def __init__(self, tagger):
        self.tagger = tagger
    def __call__(self, sent):
        word_tokens = self.tagger.morphs(sent)
        result = [word for word in word_tokens if len(word) > 1]
        return result
    
custom_tokenizer = CustomTokenizer(Kkma())
'''

JVMNotFoundException: No JVM shared library file (jvm.dll) found. Try setting up the JAVA_HOME environment variable properly.

In [ ]:
 model.get_topic_freq().head()

In [ ]:
 model.get_topic(49)

In [ ]:
model.visualize_topics(

In [ ]:
model.visualize_distribution(probabilities[0])