In [1]:
!python --version

Python 3.9.5

In [2]:
import os
os.getcwd()

'C:\\Users\\User-Pc\\BerTopic'

In [ ]:
!pip install pandas
!pip install konlpy
!pip install umap
!pip install -U scikit-learn
!pip install --upgrade pip
!pip install matplotlib

In [5]:
import pandas as pd
path = "C:/Users/User-Pc/BerTopic/data/"
file_list = os.listdir(path)
dfs = []

In [6]:
for i in file_list:
    df = pd.read_excel(path+i)
    dfs.append(df)
    print(i)

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20180101-20181213.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20190101-20191231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20200101-20201231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20210101-20211231.xlsx

C:\Users\User-Pc\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

NewsResult_20220101-20220812.xlsx

In [7]:
data = pd.concat(dfs)

In [8]:
from datetime import datetime

import logging
import re

import numpy as np
import pandas as pd

In [24]:
data

,뉴스 식별자,일자,제목,키워드,특성추출(가중치순 상위 50개)
0,2.100601e+06,20181213,'셰이크 유어 쏠' 금융 앱 넘어 즐거움 제공,"셰이크,유어,금융,즐거움,제공,한경,광고,대상,은행,우수,신한은행,신한은행,편리,금...","신한,신한은행,소비자,금융업,재정의,사용자,한국,차별화,sol,디지털금융,안내장,휴..."
1,1.100701e+06,20181213,디지털 자산관리시대 은행들 프로그램 고도화 총력전,"디지털,자산,관리,시대,은행,프로그램,고도,총력전,뱅크샐러드,앱들,관리,선풍적,인기...","로보어드바이저,관계자,로보,리밸런싱,고도화,은행들,퇴직연금,뱅크샐러드,총력전,국민은..."
2,2.100851e+06,20181213,​[2018 아주경제 금융증권대상] 기념 촬영 중인 내외빈들,"금융증권대상,아주,경제,금융,증권,대상,기념,촬영,내외빈들,13일,포시즌호텔,서울,...","위원장,오은선,정영채,대표이사,노희진,박상용,성채현,이순우,이성호,조재린,길재욱,김..."
3,2.100311e+06,20181213,세무조사 부가세 더해 외부감사법 보완해야,"세무조사,부가세,외부,감사법,보완,외국계,기업,해외,안돼,매출,파악,정부,외국,정보...","외국계,국세청,구글,유한회사,법인세,전문가들,전문가,기업들,외부감사,구글코리아,홍기..."
4,2.100601e+06,20181213,제일기획 이노션 호실적에 光나는 광고株,"제일기획,이노션,호실적,광고,광고,대행사,제일기획,이노션,주가,약세장,강세,디지털,...","이노션,제일기획,광고주,2만,영업이익,에프앤가이드,급락장,8만,코스피지수,원어치,코..."
...,...,...,...,...,...
11718,2.100851e+06,20220101,"증권사 새판짜기 조직개편 트렌드는 ""리테일 IB ""다 잡겠다""","증권사,새판,조직,개편,트렌드,리테일,IB,리테일,디지털,리테일,WM,경쟁력,강화,...","ib,리테일,wm,증권사,부동산,경쟁력,미래에셋증권,사업부,한국투자증권,교보증권,만..."
11719,2.100311e+06,20220101,[신년 기고]과학기술이 대한민국의 미래다,"과학기술,대한민국,미래다,이우일,한국과학기술단체총연합,회장,서울대,명예교수,한국딜로...","과학기술,미국,출발선,대전환,소련,제조업,팬데믹,케네디,이우일,nasa,항공우주국,..."
11720,1.100801e+06,20220101,"“거품 낀 세계경제, 또다른 충격 온다” vs “美 증시 20% 이상 오른다”","거품,세계경제,충격,vs,전문가들,전망,글로벌,경제,3년,코로나,사태,연초,글로벌,...","미국,코로나,인플레이션,오미크론,공급망,중국,버핏,기업들,창업자,연준,구겐하임파트너..."
11721,1.100701e+06,20220101,금융권 수장들이 신년사에서 꼽은 2022년 화두는?,"금융,수장,신년사,화두,금융,수장,키워드,새해,디지털,전환,ESG,환경,사회,지배구...","esg,신년사,헬스케어,ai,비금융,만큼,위원장,정희수,김광수,손해보험,소비자,가상..."
11722,1.100701e+06,20220101,이성희 농협중앙회장 “미래 성장 산업으로 이끌어 나갈 농업 혁신”강조 [신년사],"산업,이성희,농협중앙,회장,미래,성장,농업,혁신,강조,신년사,이성희,농협중앙,회장,...","농협,농축산물,농업인,임직원,신년사,이성희,소비자,온라인,경쟁력,농축협"

In [9]:
## 데이터 전처리
data = data[['뉴스 식별자','일자','제목','키워드','특성추출(가중치순 상위 50개)']]
cluster_mode = '특성추출(가중치순 상위 50개)'
corpus = data[cluster_mode].values.tolist()

for i, cp in enumerate(corpus):
    corpus[i] = cp.split(',')
df = data[['일자']]
df['키워드'] = corpus
df['일자'] = [str(x)[0:4] for x in df['일자']] 

# 키워드 사전 
keyword_vocab = []
for i in df['키워드']:
    keyword_vocab.extend(i)
keyword_vocab = list(set(keyword_vocab))

# 연도별 카운팅 후 병합
from collections import Counter
years = ['2018','2019','2020','2021','2022']

tmp_df_list = []
for year in years:
    print(year)
    tmp = []
    for i in df[df['일자']== year]['키워드']:
        tmp.extend(i)
    tmp_df = pd.DataFrame(pd.Series(Counter(tmp)))
    tmp_df = tmp_df.reset_index()
    tmp_df = tmp_df.rename(columns = {0:'cnt','index':'keyword'})
    tmp_df_list.append(tmp_df)
    
df = tmp_df_list[0].merge(tmp_df_list[1], on = 'keyword', how = 'outer')
for i in range(len(tmp_df_list)):
    if i > 1:
        df = df.merge(tmp_df_list[i], on = 'keyword', how = 'outer')
col = ['keyword'] + years
df.columns = col

# 2022년 수치 날짜 보정
df['2022'] = round(df['2022']*(365/224)) 
df

# 합산 값 만들기
df.index = df['keyword']
df = df.drop('keyword', axis = 1)
df['tot_cnt'] = df.sum(axis = 1)
df = df.T
df['year_cnt'] = df.sum(axis = 1)
df = df.T
df

# 결측치 처리
df =df.fillna(0)
df

<ipython-input-9-f07790b606d6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['키워드'] = corpus
<ipython-input-9-f07790b606d6>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['일자'] = [str(x)[0:4] for x in df['일자']]

2018
2019
2020
2021
2022

<ipython-input-9-f07790b606d6>:36: FutureWarning: Passing 'suffixes' which cause duplicate columns {'cnt_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(tmp_df_list[i], on = 'keyword', how = 'outer')

              2018      2019      2020      2021      2022    tot_cnt
keyword
신한           473.0     453.0     513.0     623.0     629.0     2691.0
신한은행         633.0     605.0     621.0     979.0     904.0     3742.0
소비자          572.0     953.0    1244.0    1715.0    1361.0     5845.0
금융업          175.0     247.0     367.0     383.0     424.0     1596.0
재정의           15.0       1.0       2.0       5.0       2.0       25.0
...            ...       ...       ...       ...       ...        ...
호랑이띠           0.0       0.0       0.0       0.0       2.0        2.0
닛케이225지수       0.0       0.0       0.0       0.0       2.0        2.0
항공우주국          0.0       0.0       0.0       0.0       2.0        2.0
트렌드들           0.0       0.0       0.0       0.0       2.0        2.0
year_cnt  171990.0  251701.0  307604.0  357655.0  353713.0  1442663.0

[125267 rows x 6 columns]

In [12]:
# 데이터 확인
key = 'nft'
df[df.index == key]

         2018  2019  2020   2021   2022  tot_cnt
keyword
nft       0.0   0.0   7.0  356.0  753.0   1116.0

In [13]:
# 데이터 비교1 . 회귀선의 기울기
# 연도별 건수 보정(normaliae)

df2 = df.copy()
for year in years:
    df2[year] = df2[year][:-1]*10000 / df2[year][-1]
from scipy import stats

x = [1,2,3,4,5]

slopes = []
for i in list(df2.values):
    y = i[:-1]
    slope, intercept, r, p, std_err = stats.linregress(x, y)
    slopes.append(slope)
df2['slope'] = slopes

In [14]:
df2.sort_values(by = 'slope',ascending = False)[0:10]

,2018,2019,2020,2021,2022,tot_cnt,slope
keyword,,,,,,,
코로나19,0.000000,0.000000,130.589979,79.573891,49.051067,8598.0,17.767602
가상자산,0.058143,0.993242,6.469357,18.817016,32.512234,2048.0,8.273196
메타버스,0.000000,0.039730,0.000000,21.109729,30.646315,1840.0,8.236263
마이데이터,1.860573,4.131887,18.107697,27.009269,27.423363,2629.0,7.400296
빅테크,0.116286,1.430268,18.952939,26.617830,24.059054,2424.0,7.307310
esg,0.058143,1.311079,5.038946,24.688597,24.567941,1941.0,7.239711
코로나,0.000000,0.000000,54.810731,29.693420,21.231903,3499.0,7.215723
온라인,31.397174,28.605369,62.255367,58.631922,42.887878,6789.0,5.300796
nft,0.000000,0.000000,0.227565,9.953726,21.288446,1116.0,5.253062
투자자,25.815454,22.804836,24.642072,40.066545,43.396765,4744.0,5.242433

In [25]:
df2.sort_values(by = 'slope',ascending = True)[0:50]

,2018,2019,2020,2021,2022,tot_cnt,slope
keyword,,,,,,,
블록체인,62.096634,39.531031,20.870990,21.361368,22.108319,4251.0,-9.814629
블록체,54.189197,43.623188,22.041326,25.695153,27.027562,4583.0,-7.225130
빅데이터,50.002907,42.590216,45.578081,31.287134,20.949188,5194.0,-6.941052
핀테크,49.072621,71.831260,47.853734,43.533573,34.971856,6918.0,-5.649922
서울,71.050642,70.122884,55.525936,47.503879,57.673877,8434.0,-4.937254
본부장,41.630327,37.782925,30.201168,31.454894,24.935470,4603.0,-3.971775
국민은행,25.989883,27.691586,16.417212,15.853266,12.298106,2651.0,-3.922187
kb,30.641316,32.101581,23.926867,20.690330,19.083268,3486.0,-3.452735
중국,34.595035,36.988331,32.411802,30.168738,21.458075,4361.0,-3.309351
스마트폰,19.652305,20.063488,17.164926,9.674127,8.340095,2012.0,-3.301378
베트남,17.035874,18.235923,6.436847,5.060743,7.378864,1392.0,-3.248920
네트워크,26.280598,22.248620,17.067398,15.741427,14.729456,2621.0,-2.960948
팀장,25.815454,26.102399,21.293611,17.530861,15.521058,2932.0,-2.916033
관계자,68.666783,67.619914,60.012224,59.973997,59.200538,8968.0,-2.657841
일본,17.791732,21.493756,15.994590,10.736604,10.121200,2081.0,-2.609822
암호화폐,25.931740,23.519970,8.257370,18.984776,15.294886,2512.0,-2.580890
금융,36.048607,34.445632,26.690160,25.974752,28.525952,4246.0,-2.351619
한국,51.863480,49.662099,46.553361,42.582936,43.820838,6647.0,-2.316445
keb하나은행,7.733008,6.674586,0.195056,0.000000,0.000000,307.0,-2.214060
부행장,15.349730,12.792957,7.899767,8.136332,6.672076,1356.0,-2.201193
사진제공,6.628292,9.018637,3.283442,0.111840,0.141358,451.0,-2.188067
은행장,19.826734,19.984029,12.125980,15.937146,11.252060,2185.0,-2.119623
keb,7.442293,5.959452,0.260075,0.000000,0.000000,286.0,-2.084404
bnk,12.151869,11.918904,6.339319,5.731781,4.919242,1083.0,-2.065238
4차,11.570440,5.005940,4.031157,3.187429,2.346535,646.0,-2.026632
지점장,14.710158,13.786199,11.768378,7.633054,7.746393,1509.0,-2.008067
신한,27.501599,17.997545,16.677286,17.419021,17.782779,2691.0,-2.001616
신기술,11.163440,8.184314,4.811381,4.389705,3.053323,811.0,-2.001484
가상통화,9.535438,1.668647,0.357603,0.782877,0.226172,253.0,-1.950430
신한은행,36.804465,24.036456,20.188294,27.372747,25.557443,3742.0,-1.915775
위성호,9.012152,1.112431,0.000000,0.027960,0.000000,184.0,-1.910877
챗봇,10.465725,8.819989,7.379618,4.361745,3.279495,901.0,-1.883070
ict,11.744869,12.594308,8.452426,5.899540,5.710845,1192.0,-1.876282
페이스북,7.151579,15.256197,6.306810,4.948903,3.222952,992.0,-1.816455
nh,15.814873,19.030516,14.694217,12.805637,10.121200,2019.0,-1.761223
미래에셋대우,6.686435,5.522425,6.176773,1.258196,0.056543,491.0,-1.752401
부산은행,10.698296,10.369446,5.559095,4.781144,4.834428,958.0,-1.731604
최종구,3.488575,10.131068,0.227565,0.027960,0.000000,323.0,-1.708026
인공지능,29.304029,24.791320,29.128360,25.499434,20.412029,3658.0,-1.707589
고객들,16.454445,17.123492,10.663060,9.310649,12.015391,1800.0,-1.669095
센터장,17.268446,15.335656,14.369124,12.945436,10.121200,1946.0,-1.668471
이대훈,4.651433,7.310261,1.495429,0.000000,0.000000,310.0,-1.661313
인도네시아,9.419152,12.157282,5.396549,4.473585,4.975785,970.0,-1.657043
ico,9.768010,1.430268,0.130037,0.195719,2.205178,293.0,-1.636021
kb국민은행,8.605151,9.932420,5.494077,3.494988,3.647025,821.0,-1.635369
농협은행,16.861445,16.964573,17.262454,15.098349,9.725399,2132.0,-1.613832
공인인증서,6.453864,4.449724,4.291232,1.146356,0.197901,403.0,-1.581529
디지털,25.582883,28.645099,22.236382,22.675483,20.864373,3394.0,-1.540663
허인,6.105006,5.601885,1.853032,2.432512,0.197901,397.0,-1.498358
트랜스포메이션,7.849294,9.257015,8.289879,4.837064,2.714065,892.0,-1.469041

In [16]:
# 시각화 비교 남는 시간 방법
x = []
y = []
keys = []
min_cnt = 300
for i in keyword_vocab:
    word = i
    if df['2021'][word] > min_cnt and df['2022'][word] > min_cnt:
        conf_2021 = df['2021'][word]/df['2021'][-1]
        conf_2022 = df['2022'][word]/df['2022'][-1]
        ratio_2022 = conf_2022 / conf_2021
        ratio_2021 = conf_2021 / conf_2022
        key = word
        x.append(ratio_2021)
        y.append(ratio_2022)
        keys.append(key)

In [17]:
df3 = pd.DataFrame({'key2021':x,'key2022':y}, index = keys)

In [18]:
df3 = df3.dropna()
df3 = df3[df3.sum(axis = 1) != np.inf]

In [23]:
df3.sort_values(by = 'key2021',ascending = False).head(10)

        key2021   key2022
비트코인   2.289220  0.436830
중앙은행   1.837033  0.544356
코로나19  1.622266  0.616422
농협은행   1.552466  0.644137
빅데이터   1.493477  0.669578
금융서비스  1.478539  0.676343
비대면    1.455396  0.687098
은행장    1.416376  0.706027
카카오페이  1.411917  0.708257
중국     1.405939  0.711269

In [26]:
df3.sort_values(by = 'key2022',ascending = False).head(30)

       key2021   key2022
nft   0.467565  2.138741
가상자산  0.578767  1.727810
간담회   0.616238  1.622749
부산    0.667042  1.499156
메타버스  0.688818  1.451763
메타    0.734272  1.361894
위원장   0.742653  1.346524
부동산   0.755977  1.322791
고객들   0.774894  1.290500
자회사   0.786145  1.272030
신한금융  0.814453  1.227818
임직원   0.818028  1.222452
서울    0.823664  1.214088
위원회   0.849548  1.177096
스타트업  0.853292  1.171931
금융회사  0.866425  1.154168
kt    0.868464  1.151458
전문가   0.868747  1.151084
금융사   0.869935  1.149512
소상공인  0.870351  1.148962
반도체   0.879882  1.136516
만큼    0.886104  1.128536
금융업   0.893346  1.119387
우리나라  0.904274  1.105859
증권사   0.907506  1.101921
중소기업  0.910103  1.098777
금융    0.910566  1.098218
투자자   0.923261  1.083117
고객    0.926516  1.079312
이용자   0.935349  1.069119